# R
**/*.Rproj.user
**/*.Rhistory
**/*.RData
**/*.Ruserdata
# ignore the ipynb checkpoints
**/.ipynb_checkpoints
# ignore .h5 binaries
**/*.h5
# ignore the PyCharm .idea folder
.idea/
# ignore pycache folder
**/__pycache__
# ignore the rv_samples and rv_samples2 .npy files since they are very large
**/rv_samples.npy
**/rv_samples2.npy